@import 'tailwindcss/utilities.css';

@keyframes circular-motion {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, -30px);
  }
  50% {
    transform: translate(60px, 0);
  }
  75% {
    transform: translate(30px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}


.to-do-title h1 {
  @apply text-2xl font-bold tracking-wide;
}

.to-do-title {
  animation: circular-motion 4s infinite;  
  @apply text-2xl tracking-wide text-white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
  background: linear-gradient(to left, rgba(244, 181, 5, 0.6), rgba(194, 38, 38, 0.6), rgba(143, 79, 245, 0.6));
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 350px;
  width: 100%;
}

.to-do-frame {
  @apply text-3xl tracking-wide text-white;
  padding: 1.5rem;
  background: linear-gradient(to left, rgba(244, 181, 5, 0.6), rgba(194, 38, 38, 0.6), rgba(143, 79, 245, 0.6));
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px; 
  width: 100%;
}


  .add-task-button{
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.1rem;
    margin-top: 1rem;
    border: 0.7px solid #8758ff;
    cursor: pointer;
    font-size: 1.5rem;
  }


.add-task-button:hover {
  background-color: #efc11c;
}
  

  .to-do-input-field {
    outline: none;
    background: none;
    border: 0.7px solid #8758ff;
    padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    width: 450px;
    color:white;
    font-size: 1.5rem;

  }
  
  .to-do-input-field::placeholder {
    color: #ffffff4d;
  }

.to-do-input-field:focus {
  border-color: rgba(0, 0, 0, 0.3);
  border: 0.7px solid #8758ff;

}



.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 0.7px solid #8758ff;
  padding: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 450;
  color: white;
  font-size: 1.5rem;
  height: 60px;
}


  
  /* Responsivenes Media Queries */

@media (max-width: 600px) {
  .to-do-title {
    padding: 10px;
    font-size: 16px;
  }

  .to-do-frame {
    max-width: 100%;
    padding: 10px;
  }

  .to-do-input-field {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
  }

  .add-task-button {
    width: 90%;
    font-size: 1.2rem;
    padding: 10px;
  }

  .to-do-item {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
  }
}

.remove-button, .edit-button, .save-button {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-left: 0.7rem;
  border: 0.7px solid #8758ff;
  cursor: pointer;
  font-size: 1rem;
}

.remove-button:hover {
  background-color: red;
}

.edit-input {
  flex-grow: 1;
  padding: 0.1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: white;
  background: none;
}

.edit-input::placeholder {
  color: white;
}
.edit-button:hover, .save-button:hover {
  background-color: #ffffff4d;
}

.button-container {
  display: flex;
}



.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.login-form-wrapper {
  animation: breathing 3s ease-in-out infinite;

  max-width: 400px;
  padding: 2rem;
  background: rgba(205, 149, 196, 0.9); 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 

}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.login-description {
  color: #000000;
  margin-bottom: 1rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input::placeholder {
  color: #000000;
}

.login-input {
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(135, 88, 255, 0.7);
  padding:  10px;
  margin-bottom: 1rem;
  color: #000000;
  background-color: rgba(181, 151, 218, 0.8);
}

.login-button {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(135, 88, 255, 0.8);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: rgba(135, 88, 255, 0.9); 
}

@media (max-width: 600px) {
  .login-form-wrapper {
    width: 90%;
    padding: 1rem;
  }

  .login-title {
    font-size: 20px;
  }

  .login-input {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }
}

.top-left-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 100px;
  padding: 0.7rem;
  background: linear-gradient(to left, rgba(244, 181, 5, 0.6), rgba(194, 38, 38, 0.6), rgba(143, 79, 245, 0.6)); 
  text-align: center;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.top-left-info p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: large;
  text-align: center; 
}


.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

@media (max-width: 1200px) {
  .top-left-info {
    width: 400px;
    height: 90px;
    font-size: medium;
  }

  .top-left-info p {
    font-size: medium;
  }
}

@media (max-width: 992px) {
  .top-left-info {
    width: 350px;
    height: 80px;
  }

  .top-left-info p {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .top-left-info {
    width: 300px;
    height: 70px;
    padding: 0.5rem;
  }

  .top-left-info p {
    font-size: small;
  }
}

@media (max-width: 576px) {
  .top-left-info {
    width: 250px;
    height: 60px;
    padding: 0.5rem;
  }

  .top-left-info p {
    font-size: small;
  }
}
.work-in-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1200px) {
  .work-in-progress {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .work-in-progress {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .work-in-progress {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .work-in-progress {
    font-size: 1.2rem;
  }
}



@keyframes typing {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '....';
  }
}

.typing-dots::after {
  content: '';
  display: inline-block;
  width: 1ch;
  animation: typing 2s steps(1) infinite;
}


.completed {
  text-decoration: line-through;
  color: white;
}

.complete-button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem;
  margin-left: 0.7rem;
  border: 0.7px solid #4CAF50;
  cursor: pointer;
  font-size: 1rem;
}

.complete-button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .complete-button, .edit-button, .remove-button {
    width: 90%;
    font-size: 1.2rem;
    padding: 10px;
  }
}


