@import 'tailwindcss/utilities.css';



.to-do-title h1 {
  @apply text-3xl font-bold tracking-wide;
}

.to-do-title {
  @apply text-3xl tracking-wide text-white;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
  background: linear-gradient(to left, #f4b505, #c22626, #8f4ff5);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
}